* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-color:#007090;

}

/* ============COLOR FONDO NAVBAR================= */
#MenuNav {
    background-color: #000000;
    background-image: linear-gradient(160deg, #000000 22%, #0d7166 64%);
    /* background-image: url("https://img.freepik.com/foto-gratis/representacion-fondo-futurista-abstracto-brillantes-luces-neon-azul-naranja_181624-19807.jpg?w=2000"); */
}

/* ================NOMBRE PAGINA==================== */

.navbar-brand {
    max-width: 10px;
}

/* ============ MARGEN EN PANTALLA COMPLETA================== */
@media (min-width:768px) {

    .collapse {
        margin-left: 6rem;
    }

}


/* ============ ABOUT US ================== */


.cards {
    display: block;
    gap: 5px;
    border-radius: 50px;
    background-color: #EAEBED;
}

.cards .flip-card{
    background-color: transparent;
    width: 400px;
    height: 450px;
    perspective: 1000px;
}
.cards .flip-card .flip-card-inner{
    position: relative;
    width:100% ;
    height: 100%;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.cards .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}


.cards .flip-card .flip-card-front,
.cards .flip-card .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
}
.cards .flip-card .flip-card-front {
    background-color: #0d7166;
    color: #000000;
}
.cards .flip-card .flip-card-front{
    width: 100%;
    height: 100%;
}

.flip-card-front .imgLeft{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.flip-card-front .imgRight {
border-bottom-right-radius: 15px;
border-top-right-radius: 15px;
}


.cards .flip-card .flip-card-back {
    background-color: #3FA796;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/* DESCRIPCION DE LA CARD*/

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* AJUSTES DE LA ROW*/
.row{
    display: flex;
    justify-content: space-between;
}
@media (max-width:990px) {

.container .row .info{
    display: flex;

}
.cards .flip-card .flip-card-front,
.cards .flip-card .flip-card-back  {
    display: none;

}
.cards .photo {
    background-image: url(../img/nosotros/carlos.jpg);
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin-left: 5px;
}
.cards .photo2 {
    background-image: url(../img/nosotros/male.jpeg);
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin-left: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.cards .photo3 {
    background-image: url(../img/nosotros/mariano.jpg);
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin-left: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.cards .photo4 {
    background-image: url(../img/nosotros/lucas.jpg);
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin-left: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.info {
    text-align: center;
}
.cards info p {
    font-size: 12rem;
    
}

}
@media (max-width:390px) {
    .Nosotros {
        width: 375px !important;
    }

}

