body  {
background: #CEFF1A;}
main {

    background: #bbe034 ;
}
 
.navbar {
    background: #2C3333 ;
}

.btnCargar {
    color: white;
    background-color: #395B64;
}

/* .card img {
    max-height: 15rem;
} */